  <form class="upvote" action="/answers/<%=answer.id%>/vote" method="POST">
    <input type="hidden" name="voteable_type" value="Answer">
    <input type="hidden" name="vote_type" value="Upvote">
    <input type="submit" value="Upvote">
  </form>

  <form class="downvote" action="/answers/<%=answer.id%>/vote" method="POST">
    <input type="hidden" name="voteable_type" value="Answer">
    <input type="hidden" name="vote_type" value="Downvote">
    <input type="submit" value="Downvote">
  </form>
