<h1> Log In Here</h1>

<%= erb :_errors %>

<form id="login_form" action="/login" method="POST">
  <div>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div>
<<<<<<< HEAD
    <input type="text" name="password" placeholder="Password">
=======
    <input type="password" name="password" placeholder="Password">
>>>>>>> origin
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
  <div>
    <a href="/index">Return Home</a>
  </div>
