<header>
  <h1> Register Here </h1>
</header>

<% erb :_errors %>

<form action="/users" method="POST">
  <div>
    <input type="text" name="user[email]" placeholder="Email">
  </div>
  <div>
    <input type="text" name="user[username]" placeholder="Username">
  </div>
  <div>
  <input type="text" name="user[password]" placeholder="Password"required>
  <input type="submit" value="Register">
  </div>

  <div>
    <a href="/index">Return Home</a>
    Already registered? <a href="/login"> Log in</a> here.

  </div>
</form>