<h1>Welcome to Stack OverBro</h1>

<%@questions.each do |question| %>


<% if @errors %>
<ul>
  <li><%= @errors %></li>
</ul>
<% end %>

<section id='questions-container'>
  <div>
    <a href="/questions/<%=question.id%>"><%=question.headline %></a>
  </div><br>
<% end %>
</section>


<a href="/questions/new">Ask a question!</a>


