<h1>Zack OverBro</h1>
<h2><%=@question.headline %></h2>
<div><%=@question.content %></div>
<h3>Comments</h3>
<%@question.comments.each do |comment| %>
<p><%=comment.user.username%></p>
<p><%=comment.content%></p>

<%end%>
